@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  border: 1px solid darkgray;
  background-color: #633bbc;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

input {
  border: 1px solid #633bbc;
  margin: 5px;
  border-radius: 3px;
  padding: 2px 5px;
}

.tab {
  color: red;
  background-color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 33%;
}

.tab:disabled {
  background-color: rgb(228, 227, 227) !important;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-container > input {
  width: 69%;
}

.input-container > label {
  width: 31%;
}

button:disabled {
  background-color: white;
  color: #a5a2aa;
  border: 1px solid #633bbc;
  cursor: not-allowed;
}
